* {
    box-sizing: border-box;
  }

  :root {
    --blue:#15acf1;
    --main-padding:25px 35px;
    --grey:#dfdfdf;
    --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
  }

  button, input {
    font: inherit;
}
  
  .sidebar {
    background-color: var(--blue);
    grid-row: 1 / 3;
    padding: var(--main-padding);
    color: white;
    font-weight: bold;
  }

  .header {
    background-color: rgb(255, 255, 255);
    padding: var(--main-padding);
    box-shadow: var(--shadow);
    position: relative;
  }

  .main {
    background-color: var(--grey);
    padding: var(--main-padding);
    display: grid;
  }

  .icon {
    filter: invert(1);
    width: 36px;
  }

  .header-icon {
    width: 36px;
  }

  #bigico {
    width: 42px;
  }

  .top-dashboard {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
  }

  .sidebar ul {
    padding:1rem 0;
    list-style: none;
  }

  .sidebar ul li {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    padding: 8px 0;
  }

  .header-top, .header-bottom {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: 15px;
  }

  .header-top {
    margin-bottom: 2rem;
  }

  #search {
    width: min(80%, 700px);
    background: var(--grey);
    border: none;
    border-radius: 25px;
    padding: 10px;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* crop the image to fit the container */
    object-position: center; /* center the image within the container */
  }

  .av-big {
    width: 75px;
    height: 75px;
  }

  .big-font {
    font-size: 2rem;
  }

  button {
    background-color: var(--blue);
    border: none;
    border-radius: 25px;
    padding: 0.75rem 2rem;
    color: white;
    font-weight: bold;
  }