* {
    box-sizing: border-box;
  }

  :root {
    --blue:#15acf1;
    --main-padding:25px 35px;
    --grey:#dfdfdf;
    --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --gap:1rem;
    --big-gap:2rem;
    --radius-box:10px;
  }
  
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
  }

  button, input {
    font: inherit;
}
  
  .sidebar {
    background-color: var(--blue);
    grid-row: 1 / 3;
    padding: var(--main-padding);
    color: white;
    font-weight: bold;
  }

  .header {
    background-color: rgb(255, 255, 255);
    padding: var(--main-padding);
    box-shadow: var(--shadow);
    position: relative;
  }

  .main {
    background-color: var(--grey);
    padding: var(--main-padding);
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: var(--big-gap);
  }

  .icon {
    filter: invert(1);
    width: 36px;
  }

  .header-icon {
    width: 36px;
  }

  #bigico {
    width: 42px;
  }

  .top-dashboard {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
  }

  .sidebar ul {
    padding:1rem 0;
    list-style: none;
  }

  .sidebar ul li {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    padding: 8px 0;
  }

  .header-top, .header-bottom {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: var(--gap);
  }

  .header-top {
    margin-bottom: 2rem;
  }

  #search {
    width: min(80%, 700px);
    background: var(--grey);
    border: none;
    border-radius: 25px;
    padding: 10px;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .av-big {
    width: 75px;
    height: 75px;
  }

  .big-font {
    font-size: 2rem;
  }

  button {
    background-color: var(--blue);
    border: none;
    border-radius: 25px;
    padding: 0.75rem 2rem;
    color: white;
    font-weight: bold;
  }

  .projects {
    grid-row: 1 / 3;
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--big-gap);
  }

  .box {
    background-color: white;
    padding: var(--main-padding);
    box-shadow: var(--shadow);
    display: grid;
    border-radius: var(--radius-box);
    border-left: 10px solid red;
  }

  .box h3 {
    margin-bottom: 0px;
  }

  .box-icons {
    justify-self: end;
  }

  .box-icons img {
    width: 28px;
  }

  .announ-box {
    background-color: white;
    padding: var(--main-padding);
    border-radius: var(--radius-box);
    box-shadow: var(--shadow);
  }

  .announ-box p ~ p{
    border-top: 2px solid var(--grey);
    padding-top: 1rem;
  }

  .trending-box {
    background-color: white;
    padding: var(--main-padding);
    border-radius: var(--radius-box);
    box-shadow: var(--shadow);
    display: grid;
    gap: var(--big-gap);
  }

  .person-box {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--gap);
    align-items: center;
  }

  .person-content p {
    margin: 0;
  }